<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <script>
window.temperatureData = [
        {{range .LogLines}}
        [{{.Time.Unix}} * 1000, {{.Temperature}}],
        {{end}}
]

console.log(window.temperatureData)

window.humidityData = [
        {{range .LogLines}}
        [{{.Time.Unix}} * 1000, {{.Humidity}}],
        {{end}}
]
        </script>

        <script src="/public/chart.js"></script>
    </head>
    <body>
        {{with .CurrentTemperature}}
        Right now: {{.Temperature}}°C {{.Humidity}}%
        {{end}}
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </body>
</html>
